.links {
  margin-top: 5rem;
}

.link {
  padding: 4px 8px;
  background-color: #fff;
  border: 1px solid #4116ff;
  border-radius: 4px;
  color: #2100b4;
}

.disable {
  background-color: #999;
  border: none;
  color: #ddd;
}

.pane {
  margin-top: 5rem;
}

.pane,
.links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pane div,
.links div {
  max-width: 100%;
  display: flex;
  column-gap: 1rem;
}
